<html>
<head>
    

    <center><h1>Employees Vs Activities</h1></center>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("DisplayChart", "Home")',
                success: function (result) {
                    google.charts.load('current', {'packages': ['corechart']});
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });
        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Employee Name');

            var dataArray = [];
            var column=true;

            $.each(result, function (i, obj) {
                dataArray.push([obj.firstname, obj.activityCount]);
                if(column)
                {

                    $.each(obj.activityCounterList , function(j,obj2) {
                        data.addColumn('number', obj2.name);
                    });

                    column=false;
                }
            });

            $.each(result, function (i, obj) {
                dataArray=[];
                dataArray.push(obj.firstname);
                 $.each(obj.activityCounterList , function(j,obj2) {
                        dataArray.push(parseInt(obj2.counter));
                    });
                    console.log(dataArray);
                    data.addRow(dataArray);
            });


            var options = {

                //bar:{groupWidth:'75%'},
                isStacked: 'percent'
            };
            var columnChart = new google.visualization.ColumnChart(document.getElementById('viewchart'));
            columnChart.draw(data, options);
        }
    </script>
</head>

<body>
    <div id="viewchart"></div>
</body>


</html>
