@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<ERD.ViewModels.EnrollmentViewModelAutomapper>

@{
    ViewData["Title"] = "Index";
}
@if (SignInManager.IsSignedIn(User))
{
    <Center><h1>Employee Enrollment Details</h1></Center>
    
    <div class="form-group">
        <input type="button" value="Chart View" style="float:right;" class="btn btn-primary" />
    </div>

    @if (SignInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
{
    <p>
        <a class="nav-link" asp-area="" asp-controller="Enrollments" asp-action="Index">Enroll An Employee</a>
    </p>
}

    <table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Activities Enrolled</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                var activityNameList = "";
                <tr>
                    <td>
                        @item.Firstname
                    </td>
                    @if (item.ActivityList != null)
                    {
                        activityNameList = string.Join(", ", item.ActivityList);
                    }
                    <td>
                        @activityNameList
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-route = asp-page="/Account/Login">Login</a>
    
    </li>    
}