@model Refreshment_Dashboard.Models.Venue

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var activityListItem = ViewBag.TypeDropDown;
}

<h1>Create</h1>

<h4>Venue</h4>
@*<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxLimit" class="control-label"></label>
                <input asp-for="MaxLimit" class="form-control" />
                <span asp-validation-for="MaxLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<form method ="post">
  <br />
    
  <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
  </div>
       <br />
       <br />
       <select asp-for ="ActivityID">
           <option selected>--Activity--</option>
            @foreach (var item in activityListItem)
                    {
                        <option value="@item.ActivityID">@item.ActivityName</option>
                    }
       </select>
       <br />
       <br />

        <button type ="submit" id= "button" class= "btn btn-primary">
       Create
   </button>

   <p style = "color:red;">
           @Html.Label("",Convert.ToString((string)ViewBag.Error))
       </p> 

       <p style = "color:red;">
           @Html.Label("",Convert.ToString((string)ViewBag.OverlimitError))
       </p> 
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

