@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model Refreshment_Dashboard.Models.ContactUs

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Feedback / Contact Us</h1></center>





<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="input_fields_wrap">
                <button class="add_field_button">Add Comment / Feedback</button>
                <br />
                @*<div><input type="text" name="mytext[]" style="height:120px; width:411px;"></div>*@
            </div>

            <br />

            <script>
                    $(document).ready(function() {
                    var max_fields      = 2;
                    var wrapper         = $(".input_fields_wrap");
                    var add_button      = $(".add_field_button");

                    var x = 1;

                   $(add_button).click(function(e){
                        e.preventDefault();
                        if(x < max_fields){
                            $(wrapper).append('<div> <input type="text" name="mytext[]" style="height:120px; width:411px;"/><a href="#" class="remove_field">Remove</a></div>');
                            x++;
                      }
                    });

                    $(wrapper).on("click",".remove_field", function(e){

                        e.preventDefault();
                        $(this).parent('div').remove();
                        x--;
                    })
                });
            </script>

            <style>

                .btnfunction {
                    padding: 10px 17px;
                    font-size: 13px;
                    text-align: center;
                    cursor: pointer;
                    outline: none;
                    color: #fff;
                    background-color: #04AA6D;
                    border: none;
                    border-radius: 8px;
                    box-shadow: 0 5px #999;
                }

                .btnfunction:hover {
                        background-color: red;
                        cursor: pointer;
                    }
            </style>

            <div class="form-group">
                <input type="submit" value="Submit" id="btn" class="btnfunction" />
            </div>

            <script>
                const btn = document.getElementById('btn');
                let index = 0;
                const colors = ['teal', 'blue'];
                btn.addEventListener('click', function onClick() {
                  btn.style.backgroundColor = colors[index]; 
                  btn.style.color = 'white';
                  index = index >= colors.length - 1 ? 0 : index + 1;
                  alert("Feedback Submitted Successfully!")
                });
            </script>


        </form>
    </div>
</div>

